@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/* PC*/
@media (max-width: 992px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 768px) {
}
