<!-- Main Content -->
<div class="d-flex jc-center">


    <div class="container d-flex jc-arrow flex-wrp mt-32">
        <div class="col-100 mb-16">
            <h2>Xin chào mừng bạn đến với RHSW ADMIN </h2>
        </div>
        <div class="card card-cornflowerblue mb-3">
            <div class="card-body ">
                <div class="d-flex jc-between ai-center">
                    <h4 class="card-title">Thành viên mới trong tuần</h4>
                    <i class="icon icon-money"></i>
                </div>
                <h2 class="card-text">10</h2>
                <p class="card-footer">Xem thêm chi tiết</p>
            </div>
        </div>
        <div class="card card-cadetblue mb-3">
            <div class="card-body">
                <div class="d-flex jc-between ai-center">
                    <h4 class="card-title">Tin mới trong tuần</h4>
                    <i class="icon icon-orders"></i>
                </div>
                <h2 class="card-text">20</h2>
                <p class="card-footer">Xem thêm chi tiết</p>
            </div>
        </div>
        <div class="card card-tomato mb-3">
            <div class="card-body">
                <div class="d-flex jc-between ai-center">
                    <h4 class="card-title">Số lượt truy cập trong tuần</h4>
                    <i class="icon icon-price"></i>
                </div>
                <h2 class="card-text">50</h2>
                <p class="card-footer">Xem thêm chi tiết</p>
            </div>
        </div>
        <div class="card card-slategrey mb-3">
            <div class="card-body">
                <div class="d-flex jc-between ai-center">
                    <h4 class="card-title">Số đánh giá mới </h4>
                    <i class="icon icon-product"></i>
                </div>
                <h2 class="card-text">5</h2>
                <p class="card-footer">Xem thêm chi tiết</p>
            </div>
        </div>
    </div>
</div>