<header class="header ">
    <nav class="d-flex ai-center jc-between pd--8-12">

        <div class="d-flex ai-center ">
            <a href="/"><img src="/img/logo1.png" alt="" srcset=""> </a>

            <ul class="navbar-list">
                <li class="navbar-item pd--8-12">
                    <a href="/"><span>Trang chủ </span></a>
                    <div class="re-arrow"></div>
                </li>
                <li class="navbar-item pd--8-12">
                    <a href="/nha-cho-thue"><span>Nhà đất cho thuê </span></a>
                    <div class="re-arrow"></div>
                </li>

                {{!-- <li class="navbar-item pd--8-12">
                    <a href="/"><span>Tin tức </span></a>
                    <div class="re-arrow"></div>
                </li> --}}
                {{!-- <li class="navbar-item pd--8-12">
                    <a href="/"><span>Danh bạ </span></a>
                    <div class="re-arrow"></div>
                </li> --}}
            </ul>

        </div>

        <div class="d-flex ai-center">
            <div class="btn btn-history-like">
                <a href="/quan-ly/tin-da-luu">
                    <i class="fa-regular fa-heart "></i>
                </a>
            </div>
            <div class="toggle-button">
                <i class="fa fa-navicon"></i>
            </div>
            <div class="content-sidebar">

            </div>

            <div class="d-flex ai-center navbar-user">
                {{!-- {{#if user}} --}}
                <div class="box-user d-flex ai-center mr-8">

                    <div class="box-info d-flex ai-center ">
                        <a class="btn btn-message " href="/chat">
                            <i class="fa-regular fa-message  "></i>
                        </a>
                        <div class="btn btn-notify ">
                            <i class="fa-regular fa-bell "></i>
                        </div>
                        <a class="user-avatar " href="/quan-ly/quan-ly-tai-khoan">
                            {{!-- <a class="avatar"> --}}
                                <img src="/img/logo.png" alt="" width="">
                                {{!-- </a> --}}
                        </a>
                        <div class="user-info ">
                            <a href="/quan-ly/quan-ly-tai-khoan" class=""></a>
                        </div>
                        <div class="btn btn-more ">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                        <ul class="user-dropdown">
                            <li class="nav-item"><a href=""><i class="fa-solid fa-earth-americas"></i>Tổng quan</a></li>
                            <li class="nav-item"><a href="/quan-ly/quan-ly-tai-khoan"><i
                                       class="fa-regular fa-address-card"></i>Quản lý tài
                                    khoản</a></li>
                            <li class="nav-item">
                                <a href="/quan-ly/quan-ly-tin"><i class="fa-solid fa-list-check"></i>Quản lý tin
                                    đăng</a>
                            </li>
                            <li class="nav-item"><a href="/quan-ly/lich-su-xem-tin"><i
                                       class="fa-solid fa-clock-rotate-left"></i>Lịch sử xem
                                    tin</a></li>
                            {{!-- <li class="nav-item"><a href="">Tổng quan</a></li> --}}
                            <li class="nav-item"><a href=""><i class="fa-regular fa-credit-card"></i>Nạp điểm </a></li>
                            <li class="nav-item"><a href="/logout" class="btn-logout"><i
                                       class="fa-solid fa-arrow-right-from-bracket"></i>Đăng
                                    xuất</a></li>

                        </ul>
                        <div class="more-content">
                            <div class="box-balance ">
                                <h5 class="item desc-text">Số dư tài khoản</h5>
                                <div class="item d-flex jc-between mt-12 mb-8">
                                    <span>TK Chính</span>
                                    <span>0</span>
                                </div>
                                <div class="item d-flex jc-between mb-8">
                                    <span>TK Khuyến mãi</span>
                                    <span>0</span>
                                </div>

                                <button class="item btn btn-deposit pd--8-12 "><span>Nạp tiền</span></button>

                            </div>
                        </div>
                    </div>
                </div>
                {{!-- {{else}} --}}
                <div class="box-login d-flex ai-center open">
                    <div class="btn btn-login "> Đăng nhập</div>
                    <span class="re-line"></span>
                    <div class="btn btn-register "> Đăng ký</div>
                </div>
                {{!-- {{/if}} --}}
                <a class="btn btn-posted " href="/dang-tin"><i class="fa-regular fa-pen-to-square"></i> Đăng
                    tin</a>
            </div>
        </div>

    </nav>
</header>

<script>
    $(document).ready(function () {

        var currentUrl = window.location.pathname;
        $('header .navbar-item').each(function () {
            var $this = $(this);
            var linkUrl = $this.find('a').attr('href');

            if (linkUrl === '/' && currentUrl !== '/') {

                return;
            }

            if (currentUrl === linkUrl || currentUrl.startsWith(linkUrl)) {
                $this.addClass('active');
            } else {
                $this.removeClass('active');
            }
        });
    })

</script>