<div id="id01" class="modal ">
    <span onclick="document.getElementById('id01').style.display=''" class="close" title="Close Modal">&times;</span>
    <div class="d-flex jc-center">

        <div class="container d-flex jc-center ">
            <form class="modal-content text-center " action="" method="post">
                <h2>Xóa bài viết</h2>

                <p class="text mt-12">Bạn có chắc chắn muốn xóa </p>

                <div class="clearfix d-flex jc-center">
                    <button type="button" class="col-40 cancelbtn btn">Hủy</button>
                    <button type="submit" class="col-40 deletebtn btn">Xóa bỏ</button>
                </div>
            </form>
        </div>
    </div>
</div>

