<div class="navbar-user">
    <div class="box-info d-flex ai-center ">
        <div class="user-avatar col-33">
            <a href="" class="avatar">
                <img src="{{data.anh_dai_dien}}" alt="" width="">
            </a>
        </div>
        <div class="user-info col-66">
            <a href="" class="">{{data.ten_nguoi_dung}}</a>
            <span class="user-point">
                {{#if data.diem_vip}}
                {{data.diem_vip}}
                {{else}}
                0
                {{/if}}
                điểm</span>
        </div>
    </div>
    <div class="box-balance ">
        <div class="content">
            <h5 class="desc-text">Số dư tài khoản</h5>
            <div class="d-flex jc-between mt-12 mb-8">
                <span>TK Chính</span>
                <span>0</span>
            </div>
            <div class="d-flex jc-between mb-8">
                <span>TK Khuyến mãi</span>
                <span>0</span>
            </div>

            <button class="btn btn-deposit pd--8-12 "><span>Nạp tiền</span></button>

        </div>
    </div>
    <ul class="nav-list">
        <li class="nav-item"><a href=""><i class="fa-solid fa-earth-americas"></i>Tổng quan</a></li>
        <li class="nav-item"><a href="/quan-ly/quan-ly-tai-khoan"><i class="fa-regular fa-address-card"></i>Quản lý tài
                khoản</a></li>
        <li class="nav-item">
            <a href="/quan-ly/quan-ly-tin"><i class="fa-solid fa-list-check"></i>Quản lý tin đăng</a>
            {{!-- <ul class="subnav">
                <li class="subnav-item">
                    Đăng mới
                </li>
                <li class="subnav-item">
                    Danh sách tin
                </li>
                <li class="subnav-item">
                    Tin nháp
                </li>
            </ul> --}}
        </li>
        <li class="nav-item"><a href="/quan-ly/lich-su-xem-tin"><i class="fa-solid fa-clock-rotate-left"></i>Lịch sử xem
                tin</a></li>
        {{!-- <li class="nav-item"><a href="">Tổng quan</a></li> --}}
        <li class="nav-item"><a href=""><i class="fa-regular fa-credit-card"></i>Nạp điểm </a></li>
        <li class="nav-item"><a href="/logout" class="btn-logout"><i
                   class="fa-solid fa-arrow-right-from-bracket"></i>Đăng
                xuất</a></li>
    </ul>
</div>