<div id="" class="slider  d-flex jc-center">
    <div class="container  d-flex jc-center ai-center">
        <div class="content w-80">
            {{!-- <div class="category">
                <button class="pd--8-12 btn">
                    <span>Nhà đất bán</span>
                </button>
                <button class="pd--8-12 btn">
                    <span>Nhà đất cho thuê</span>
                </button>
                <button class="pd--8-12 btn">
                    <span>Dự án</span>
                </button>
            </div> --}}
            <div class="search-content">
                <div class="search d-flex">
                    <div class="pd--14-16 search-classer btn">
                        <i class="fa-solid fa-house"></i>
                        <span>Loại nhà đất</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="search-box">
                        <input type="text" placeholder="Tìm nhanh . VD : Vinhomes Cental Park ..." class="pd--8-12">
                        <button class="btn-search btn ">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span>Tìm kiếm</span>
                        </button>
                    </div>
                </div>
                <div class="filter d-flex jc-between mt-16">
                    <div class="col-95 d-flex">
                        <div class="col-25">
                            <div class="filter-item btn pd--8-12">
                                <span>Trên toàn quốc </span>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="filter-item btn pd--8-12">
                                <span>Mức giá</span>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="filter-item btn pd--8-12">
                                <span>Diện tích</span>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="filter-item btn pd--8-12">
                                <span>Lọc thêm</span>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="pd--8-12 btn col-5 btn-refresh">
                        <i class="fa-solid fa-arrows-rotate"></i>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>