<div id="" class="rental d-flex jc-center">

    <section class="row mt-32 content-search">
        <div class="container">
            <div class="d-flex">
                <div class="col-80 pd-h-12">
                    <div class="re-content pd-h-12">
                        <div class="">
                            <a href="">Cho thuê</a>
                            <span>/</span>
                            <a href="">Hồ Chí Minh</a>
                            <span>/</span>
                            <a href="">Tất cả BĐS tại Hồ Chí Minh</a>
                        </div>

                        <span class="span-text mt-8"><i class="fa-solid fa-fire"></i> Có 795.872 lượt xem khu vực này
                            trong 7
                            ngày vừa
                            qua.</span>
                        <h1 class="mt-12">Cho thuê nhà đất tại Hồ Chí Minh</h1>
                        <span class="mt-12 total">Hiện có 21.458 bất động sản.</span>
                    </div>
                    <div class="mt-16 d-flex jc-between navbar-control pd-h-12">
                        <div class="d-flex navbar-control-item">
                            <div class="btn pd--8-12 btn-sm active"><i class="fa-solid fa-bars"></i></div>
                            <div class="btn pd--8-12 btn-sl"><i class="fa-solid fa-map-location-dot"></i></div>

                        </div>

                        <div class="btn w-4 btn-arrange pd--8-12">
                            <span>Thông thường</span>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>

                    </div>

                    <div class="mt-12 item-content mb-32">
                        <div class="d-flex  ">
                            <div class="col-66 img">
                                <img src="/img/house.png" alt="" class="w-full bd-l">
                            </div>
                            <div class="col-33 img">
                                <div class="img2">
                                    <img src="/img/house.png" alt="" class="w-full bd-r">
                                </div>
                                <div class="col-100 d-flex img2">
                                    <img src="/img/house.png" alt="" class="w-2">
                                    <img src="/img/house.png" alt="" class="w-2">
                                </div>
                            </div>

                        </div>
                        <div class="boder">

                            <div class="mt-12 pd-h-12 mb-16">
                                <span class="title-text">
                                    Đừng bỏ qua tin này nếu bạn đang muốn thuê căn hộ ở Quận1 Vinhomes Golden River
                                    BaSon.LH 0899 303 ***
                                </span>
                                <div class="mt-12">
                                    <span class=" red-text">18 triệu/tháng
                                    </span>
                                    <span class=" red-text pd-h-12">·</span>
                                    <span class=" red-text">85 m²
                                    </span>
                                    <span class="gray-text pd-h-12">·</span>
                                    <span class="gray-text">2 <i class="fa-solid fa-bed"></i></span>
                                    <span class="gray-text pd-h-12">·</span>
                                    <span class="gray-text">2 <i class="fa-solid fa-bath"></i></span>
                                    <span class="gray-text pd-h-12">·</span>
                                    <span class="gray-text"> Quận 1, Hồ Chí Minh</span>
                                </div>
                                <span class="text mt-8 gray-text">
                                    Chuyên cho thuê các căn hộ ở Vinhomes Ba Son nội thất cơ bản và full nội thất, các
                                    căn hộ thiết kế sang trọng, hiện đại. Giỏ hàng giá tốt và đa dạng không đâu có do
                                    chính chủ kí gửi với mức giá tốt nhất, hỗ trợ sau mùa dịch!
                                </span>

                            </div>
                            <div class="d-flex jc-between pd--14-16 user-content ">
                                <div class="d-flex info-user ai-center">
                                    <img src="/img/house.png" alt="" width="40" height="40" class="avatar mr-8 ">
                                    <div>
                                        <span class="span-text">Nguyễn Trung Đức</span>
                                        <span class="span-text">Đăng hôm qua</span>
                                    </div>
                                </div>
                                <div class="d-flex ai-center">
                                    <div class="btn-phone btn pd--8-12 mr-8">
                                        <i class="fa-solid fa-phone-volume"></i>
                                        <span>0923645837</span>
                                        <span class="">·</span>
                                        <span>Hiện số</span>
                                    </div>
                                    <div class="btn btn-like">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-20 pd-h-12 ">
                    <span>Lọc theo giá</span>
                    <ul>
                        <li>Thỏa thuận</li>
                        <li>Dưới 1 triệu</li>
                        <li>1- 3 triệu</li>
                        <li>3- 5 triệu</li>
                        <li>5- 10 triệu</li>
                        <li>10- 15 triệu</li>
                        <li>Trên 15 triệu</li>
                    </ul>

                    <span>Lọc theo diện tích</span>
                    <ul>
                        <li>Dưới 20 m<sub>2</sub></li>
                        <li>Từ 20 - 30 m<sub>2</sub></li>
                        <li>Từ 30 - 50 m<sub>2</sub></li>
                        <li>Từ 50 - 70 m<sub>2</sub></li>
                        <li>Từ 70 - 100 m<sub>2</sub></li>
                        <li>Trên 100 m<sub>2</sub></li>
                    </ul>

                    <span>Lọc theo khu vực</span>
                    <ul>
                        <li>Quận 1</li>
                        <li>Quận 1</li>
                        <li>Quận 1</li>
                        <li>Quận 1</li>
                        <li>Quận 1</li>
                        <li>Quận 1</li>
                        <li>Quận 1</li>

                    </ul>
                    <span>Lọc theo danh mục cho thuê</span>
                    <ul>
                        <li>Tất cả</li>
                        <li>Cho thuê nguyên căn</li>
                        <li>Cho thuê căn hộ</li>
                        <li>Cho thuê căn hộ mini</li>
                        <li>Cho thuê căn hộ dịch vụ</li>
                        <li>Cho thuê mặt bằng</li>
                        <li>Tìm người ở ghép</li>


                    </ul>
                </div>

            </div>


        </div>
    </section>


</div>