<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/14826bfcac.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="shortcut icon" type="image/png" href="/img/logo2.png"/>


    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>


    <link rel="stylesheet" href="/css/app.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/jquery-3.7.1.min.js"></script>
   

    <title>RHSW</title>

</head>

<body>
    <div class="App">
        {{>header}}


        <div id="content">
            {{{body}}}
        </div>
        {{>footer}}
        <div class="modal-container "></div>
    </div>
    <div id="toast">

    </div>
    <script src="/javascript/pagination.js"></script>
    <script src="/javascript/ui/clients.js"></script>
    <script src="/assets/owlcarousel/owl.carousel.min.js"></script>
    <script src="/javascript/validate.js"></script>
    <script src="/javascript/main.js"></script>
    <script src="/javascript/client/login.js"></script>
    <script src="/javascript/news.js"></script>

</body>

</html>